@font-face {
    font-family: 'A.Casual.Handwritten.Pen';
    src: url('fonts/casual.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0071BC;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #0071BC;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 10px;
    min-height: 100vh;
    max-height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.whatsapp-item {
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    margin: 10px;
}

.whatsapp-item img {
    margin-right: 10px;
    width: 30px;
}

.whatsapp-item p {
    margin: 0; 
    cursor: pointer; 
    transition: color 0.3s ease, font-size 0.3s ease; 
    font-size: 1rem; 
    letter-spacing: 1px;
    color: #ffffff; 
}

.whatsapp-item p:hover {
    color: #000000; 
    font-size: 18px; 
}

.whatsapp-item p:focus {
    background-color: #ffffff; 
}


.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

.company-name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.add-contact-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0071BC;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #ffffff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-contact-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #0071BC;
    transform: scale(1.05);
}

/* Estilos de las pestañas */
.tabs {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.tablinks {
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    flex: 1;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.tablinks.active {
    background-color: #ffffff;
    color: #1B1464;
}

.tabcontent {
    display: none;
    align-content: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    min-height: 40vh;
    max-height: auto;
}
#contacts {
    display: block; /* La pestaña de Contacts estará visible inicialmente */
}

.sumary {
    text-align: justify;
    max-height: 150px; /* Define una altura máxima */
    overflow-y: auto;  /* Permite el desplazamiento vertical si el contenido excede la altura */
    padding-right: 10px;
    margin-top: 20px;
}

.sumary::-webkit-scrollbar {
    width: 6px;
}

.sumary::-webkit-scrollbar-thumb {
    background-color: #0071BC;
    border-radius: 10px;
}

.sumary::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.contacts, .social-icons, .footer, .web-site {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    margin: 10px;
}

.contact-item img {
    margin-right: 10px;
    width: 30px;
}

.contact-item p {
    margin: 0; 
    cursor: pointer; 
    transition: color 0.3s ease, transform 0.3s ease; 
    font-size: 1rem; 
    letter-spacing: 1px;
    color: #000000; 
}

.contact-item p:hover {
    color: #0071BC; 
    transform: scale(1.05); 
}

.contact-item p:focus {
    background-color: #ffffff; 
}

.social-icons {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.social-icons img {
    display: block;
    width: 80px;
    margin: 0;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer {
    margin-top: 30px;
    text-align: center;
}

.web-site a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.web-site a:hover {
    color: grey;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .profile-img {
        width: 80px;
        height: 80px;
    }

    .company-name {
        font-size: 1.5rem;
    }

    .add-contact-btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .social-icons img {
        width: 50px;
    }
}
