@font-face {
    font-family: 'A.Casual.Handwritten.Pen'; /* Nombre de la fuente que vas a usar */
    src: url('fonts/casual.ttf') format('truetype'); /* Asegúrate de que la ruta sea correcta */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 0, 0);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    height: 100%;
    text-align: center;
    margin: 0;
    align-content: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

.company-name {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 2rem;
}

.electrical-contractor {
    font-family: 'A.Casual.Handwritten.Pen', sans-serif; 
    font-size: 1.7rem; 
    color: #ff0000; 
}

/* Boton add to contacts */

.add-contact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #db141b; 
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.add-contact-btn:hover {
    background-color: orange;
    color: #000000;
    transform: scale(1.05); 
}

.add-contact-btn:active {
    background-color: gray;
    transform: scale(1);
}

.add-contact-btn:focus {
    background-color: #db141b; 
    outline: none; /* Elimina cualquier borde que podría aparecer al hacer clic */
}


.contacts {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.contact-item {
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 5px;
}

.contact-item img {
    margin-right: 10px; 
    width: 30px;
}

.contact-item p {
    margin: 0; 
    cursor: pointer; 
    transition: color 0.3s ease, font-size 0.3s ease; 
    font-size: 16px; 
    color: white; 
}


.contact-item p:hover {
    color: green; 
    font-size: 18px; 
}

.contact-item p:focus {
    background-color: #ffffff; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons img {
    width: 40px; 
    margin: 0; 
    cursor: pointer; 
    transition: width 0.3s ease;
}

.social-icons img:hover {
    width: 50px; 
}


.web-site a {
    color: white; /* Texto blanco */
    font-weight: bold;
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave de color */
    font-size: 1.25rem;
}

.web-site a:hover {
    color: grey; /* Cambia el color a gris al pasar el mouse */
}
