@font-face {
    font-family: 'A.Casual.Handwritten.Pen'; /* Nombre de la fuente que vas a usar */
    src: url('fonts/casual.ttf') format('truetype'); /* Asegúrate de que la ruta sea correcta */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    height: 90%;
    text-align: center;
    margin: 0;
    align-content: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.company-name {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 2rem;
}

.electrical-contractor {
    font-family: 'A.Casual.Handwritten.Pen', sans-serif; /* Aplica la fuente personalizada */
    font-size: 1.7rem; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #ff0000; /* Cambia el color según tus preferencias */
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 5px;
}

.contact-item img {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    width: 30px; /* Asegúrate de que todos los íconos tengan el mismo tamaño */
}

.contact-item p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
    cursor: pointer; /* Hace que el cursor se vea como un botón */
    transition: color 0.3s ease, font-size 0.3s ease; /* Transición suave para color y tamaño */
    font-size: 16px; /* Tamaño de texto inicial */
    color: white; /* Color inicial del texto */
    
}

/* Efectos al pasar el mouse */
.contact-item p:hover {
    color: green; /* Cambia el color del texto a verde al pasar el mouse */
    font-size: 18px; /* Aumenta el tamaño del texto al pasar el mouse */
    
}






.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons img {
    width: 40px; /* Tamaño inicial de las imágenes */
    margin: 0; /* Elimina el margen por defecto */
    cursor: pointer; /* Hace que el cursor se vea como un botón */
    transition: width 0.3s ease; /* Suaviza la transición del tamaño */
}

.social-icons img:hover {
    width: 50px; /* Aumenta el tamaño de las imágenes al pasar el mouse */
}



.add-contact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    /* background: rgb(247,147,30);background: linear-gradient(90deg, rgba(247,147,30,1) 0%, rgba(193,39,45,1) 36%, rgba(0,0,0,1) 98%); */
    background-color: #db141b;
    color: #fff;
    text-decoration: none;
    /*border: 2px solid black;  Añade el borde negro */
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.add-contact-btn:hover {
    background-color: #000000;
}

.web-site a {
    color: white; /* Texto blanco */
    font-weight: bold;
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave de color */
    font-size: 1.25rem;
}

.web-site a:hover {
    color: grey; /* Cambia el color a gris al pasar el mouse */
}
